.main {
}

.title {
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
}

.article_wrapper {
    max-width: 80ch;
    margin: 0 auto;
}

.article_wrapper small {
    margin-right: 15px;
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
}

.container {
    line-height: 1.5;
}
